<main>
    <div class = "imgFilter">
        <img class="background" src="assets/img/assets_task_01k56gyqhnfxfssr37ya063p10_1757934603_img_0 (1).webp">
    </div>
    <app-header></app-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="content-box">
            <h1 class="title"> TaticOne</h1>
            <div class="main-input-block">
                <div class="input-icon-wrapper">
                    <i class="fa-solid fa-user"></i>
                    <input 
                    class="single-input" 
                    placeholder="Your email"
                    formControlName="username"
                    type="text">
                    <small class="error">Mensagem de erro</small>
                </div>
                <div class="input-icon-wrapper">
                    <i class="fa-solid fa-lock"></i>
                    <input 
                    class="single-input" 
                    placeholder="Your email"
                    formControlName="password"
                    type="password">
                    <small class="error">Mensagem de erro</small>
                </div>
                <button type="submit" class="green-button">Login</button>
            </div>
        </div>
    </form>
</main>