<main>
    <div class="imgFilter">
         <img class="background" src="backgounrImg-1.jpg">
    </div>
    <div class="header-filter">
        <section class="header">
                TATICONE
            <ul class="lateral-buttons">
                <li><a href="/login"></a>
                    LOGIN
                </li>
                <li class="button-filter">
                    <a href="/registation"></a>
                    REGISTRATION
                </li>
            </ul>
        </section>
        <section class="body">
            <h1>Change your club’s dynamics and reach the level of the best in the world.</h1>
            <h5>With Taticone, you have the power to innovate and win.</h5>
            <button class="login-button">Login</button>
        </section>
    </div>
</main>