.content-box{
    box-shadow: 0 0 100px 10px rgba(0,0,0,.25);
    padding: 20px;
    border-radius: 5px;
    border: 1px;
    width: 820px;
    height: 540px;
    margin-inline: auto;  
    background-color: white; 
    margin-top: 50px;
}

.main-block{
    display: flex;
    gap: 1rem;
    margin-top: 50px;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.main-input-block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.double-input{
    padding-left: 40px;
    width: 95%;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.double-div-inputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.466);
    margin-top: 10px;

}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}

.checkbox-wrapper i{
    font-size: 43px;
    color: #5e5e5ec5;
}

.checkbox-wrapper h5{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.466);
    margin: 0;
}

.description{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.466);
}

.main-block > .col:not(:first-child) {
    border-left: 1px solid #e0e0e0; 
    padding-left: 2rem;     
}