<main>
    <div class="imgFilter">
         <img class="background" src="assets/img/assets_task_01k56gyqhnfxfssr37ya063p10_1757934603_img_0 (1).webp">
    </div>
    <app-header></app-header>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="main-filter">
        <div class="content-box">
            <h1 class="title"> Create new account</h1>
            <div class="main-block">
                <div class="col">
                    <h5 class="subtitle">
                        Account type
                    </h5>
                    <div>
                        <div class="checkbox-wrapper" [class.invalid]="isInvalid('role')">
                            <i class="fa-solid fa-user-tie"></i>
                            <h5>
                                Coach
                            </h5>
                            <input 
                            type="checkbox" 
                            id="isCoach"
                            formControlName="isCoach"
                            [attr.aria-invalid]="isInvalid('role')"
                            aria-describedby="roleError"
                            />
                            <small class="error" *ngIf="isInvalid('role')" id="roleError">
                                You must select at least one role.
                            </small>
                        </div>
                        <h5 class="description">
                            Discover if it’s worth using TaticOne as a coach.
                            Once you register, you can create your players’ 
                            profiles, track their progress, organize your team’s diary, 
                            and prepare training sessions in a simple and structured way. 
                            All in one place, so you can manage your work more professionally and effectively.
                        </h5> 
    
                    </div>
                </div>
                <div class="col">
                    <h5 class="subtitle">
                        Your datas
                    </h5>
                    <div class="main-input-block">
                            <div class="double-div-inputs">
                                <div class="input-icon-wrapper">
                                    <i class="fa-solid fa-user"></i>
                                    <input 
                                    class="double-input" 
                                    formControlName="firstName" 
                                    placeholder="Your name" 
                                    type="text"
                                    [attr.aria-invalid]="isInvalid('firstName')"
                                    >
                                    <small class="error" *ngIf="isInvalid('firstName')">
                                        {{ getError('firstName')}}
                                    </small>
                                </div>
                                <div class="input-icon-wrapper">
                                    <i class="fa-solid fa-user"></i>
                                    <input 
                                    class="double-input" 
                                    formControlName="lastName" 
                                    placeholder="Your surname" 
                                    type="text"
                                    [attr.aria-invalid]="isInvalid('lastName')"
                                    >
                                    <small class="error" *ngIf="isInvalid('lastName')">
                                        {{ getError('lastName')}}
                                    </small>
                                </div>
                            </div>
                        <div class="input-icon-wrapper">
                            <i class="fa-solid fa-envelope"></i>
                            <input 
                            class="single-input" 
                            formControlName="email" 
                            placeholder="Your e-mail" 
                            type="text"
                            [attr.aria-invalid]="isInvalid('email')"
                            >
                            <small class="error" *ngIf="isInvalid('email')">
                                {{ getError('email')}}
                            </small>
                        </div>
                        <div class="input-icon-wrapper">
                            <i class="fa-solid fa-tag"></i>
                            <input 
                            class="single-input" 
                            formControlName="username" 
                            placeholder="Your username" 
                            type="text"
                            [attr.aria-invalid]="isInvalid('username')"
                            >
                            <small class="error" *ngIf="isInvalid('username')">
                                {{ getError('username')}}
                            </small>
                        </div>
                        <div class="double-div-inputs">
                            <div class="input-icon-wrapper">
                                <i class="fa-solid fa-lock"></i>
                                <input 
                                class="double-input" 
                                formControlName="password" 
                                placeholder="Password" 
                                type="password"
                                [attr.aria-invalid]="isInvalid('password')"
                                >
                                <small class="error" *ngIf="isInvalid('password')">
                                    {{ getError('password')}}
                                </small>
                            </div>
                            <div class="input-icon-wrapper">
                                <i class="fa-solid fa-lock"></i>
                                <input 
                                class="double-input" 
                                formControlName="confirmPassword" 
                                placeholder="Confirm password" 
                                type="password"
                                [attr.aria-invalid]="isInvalid('confirmPassword')"
                                >
                            <small class="error" *ngIf="isInvalid('confirmPassword')">
                                {{ getError('confirmPassword')}}
                            </small>   
                            </div>
                        </div>
                    </div>
                <button type="submit" class="login-button">Create an account</button>
                </div>
            </div>
        </div>
    </form>
</main>