<main>
    <div class="imgFilter">
         <img class="background" src="assets/img/assets_task_01k56gyqhnfxfssr37ya063p10_1757934603_img_0 (1).webp">
    </div>
    <app-header></app-header>
    <div class="content-box">
        <h1 class="title"> Create new account</h1>
        <div class="main-block">
            <div class="col">
                <h5 class="subtitle">
                    Account type
                </h5>
                <div>
                    <div class="checkbox-wrapper">
                        <i class="fa-solid fa-user-tie"></i>
                        <h5>
                            Coach
                        </h5>
                        <input type="checkbox" id="terms">
                    </div>
                    <h5 class="description">
                        Discover if it’s worth using TaticOne as a coach.
                        Once you register, you can create your players’ 
                        profiles, track their progress, organize your team’s diary, 
                        and prepare training sessions in a simple and structured way. 
                        All in one place, so you can manage your work more professionally and effectively.
                    </h5> 

                </div>
            </div>
            <div class="col">
                <h5 class="subtitle">
                    Your datas
                </h5>
                <div class="main-input-block">
                        <div class="double-div-inputs">
                            <div class="input-icon-wrapper">
                                <i class="fa-solid fa-user"></i>
                                <input class="double-input" placeholder="Your name" type="text">
                            </div>
                            <div class="input-icon-wrapper">
                                <i class="fa-solid fa-user"></i>
                                <input class="double-input" placeholder="Your surname" type="text">
                            </div>
                        </div>
                    <div class="input-icon-wrapper">
                        <i class="fa-solid fa-envelope"></i>
                        <input class="single-input" placeholder="Your e-mail" type="text">
                    </div>
                    <div class="input-icon-wrapper">
                        <i class="fa-solid fa-tag"></i>
                        <input class="single-input" placeholder="Your usernme" type="text">
                    </div>
                    <div class="double-div-inputs">
                        <div class="input-icon-wrapper">
                            <i class="fa-solid fa-lock"></i>
                            <input class="double-input" placeholder="Password" type="password">
                        </div>
                        <div class="input-icon-wrapper">
                            <i class="fa-solid fa-lock"></i>
                            <input class="double-input" placeholder="Confirm password" type="password">
                        </div>
                    </div>
                </div>
            <button class="login-button">Create an account</button>
            </div>
        </div>
    </div>
</main>